body {
  background-color: rgb(161, 132, 187);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: larger;
}
h1{
  text-align: center;
  color: rgb(141, 16, 16);
}
h2 {
  font-size: 30px;
}
p{
  font-size: 20px;
  column-count: 2;
  column-gap: 50px;
}
img{
  width: 75%;
  margin: 0 auto;
  display: block;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
div {
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
}